.universo{
    background-image: url("https://cdni.rt.com/actualidad/public_images/2017.04/original/58e48f52c46188076d8b4624.jpg");
opacity: .5;
position: absolute;
 width: 100%;
 height: 140%;
 z-index: -1;
}

.perfil img{
   z-index: 1;
   width: 100px;
   height: 200px;
}

.perfil{
    width: 1350px;
    
}

.todo{
    text-align: center;
}

h1{
    font-size: 24px;
    color: aquamarine;
}

h2{
    font-size: 24px;
    color: rgb(117, 9, 54);  
}

h3{
    font-size: 24px;
    color: rgb(6, 107, 32);
}

h4{
    font-size: 18px;
    color: rgb(56, 15, 204);
}